


.containRockets {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    height: 100vh;
    width: 220px;  
    position: relative;

}


#usdRocket {

position: absolute;
animation: fly-usd 15s infinite;
animation-timing-function: ease;
width: 75px;
height: 75px;
bottom: -60px;
}


#eurRocket {
    position: absolute;
    animation: fly-eur 15s infinite;
    animation-delay: 2s;
    animation-timing-function: ease;
    width: 75px;
    height: 75px;
    bottom: -70px;
}


#eurRocket:hover {

    cursor: pointer;
    animation-play-state: paused;
    transform: scale(1.5);
      
  }


  #usdRocket:hover {

    cursor: pointer;
    animation-play-state: paused;
    transform: scale(1.5);
      
  }

@keyframes fly-usd {

    0% {
        transform: translate(-75px, 80px); /* Posição inicial */   
    }

    

    100% {
        transform: translate(210px, -290px); /* Move 100px para direita e 100px para cima */
    }
    
}


@keyframes fly-eur {

    0% {
        transform: translate(-70px, 80px); /* Posição inicial */
    }

  


    100% {
        transform: translate(210px, -320px); /* Move 100px para direita e 100px para cima */
    }
    
}