@charset "UTF-8";

* {
    box-sizing: border-box;
  }

body {
    background-color: whitesmoke;
    background-image: linear-gradient(to right, white, whitesmoke);
    display: flex;
    justify-content: center;
    width: 100%;
}


.container {
    display: flex;
    align-items: center;
}
.container-table {

}

table {
background-color: black;
font-weight: bold;
border: 5px solid #ffdf00;
width: 200px;
border-collapse: separate;
border-spacing: 5px;
text-align: center;
}

.titleTb  {
    background-color: transparent;
    border: none;
    border-collapse: separate;
    border-spacing: 5px;
}

.titleTb td {
    background-color: rgb(78, 82, 81);
    border: 1px solid black;
    background: white;
    border-collapse: separate;
    border-spacing: 5px;
}
tbody {
    color: aliceblue;
    background-color: black;
    width: 200%;
}

.cointainbuttons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-top: 20px;
    width: 30px;
    height: max-content;
}

.button-coins {

   background-image: url(../assests/triangle-svgrepo-com.svg);background-size: cover;
    cursor: pointer;
    margin-top: 14px;
    width: 12px;
    height: 12px;
    border: none;
    background-color: transparent;
    transition: 0.3s ease;
    
  }


  .button-coins:hover {

    transform: scale(1.4);
  
  }

tbody td {
    border: 1px solid rgb(216, 216, 231);
    border-collapse: separate;
    border-spacing: 5px;
}

#logo {

    width: 45%;
}
